.column-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1ch;
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;

    margin:0px;
    padding: 0px;
    max-width: max-content;
}

.column-pair{
    display: grid;
    grid-template-columns: auto 1fr;
    gap:1ch;
}