#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: x-large;
}

.app{
  display:flex;
  justify-content: center;
  align-items: center;
}

.app > div{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.main-screen{
  width: 56ch;
  height: 20em;
}