#root {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-size: x-large;
}

.app{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app > div{
  border: solid limegreen 1px;
  padding: 2ch;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.main-screen{
  width: 56ch;
  height: 20em;
}